<div class="language-selector">
  <label for="language">{{ 'SELECT.LAN' | translate }}:</label>
  <select id="language" (change)="changeLanguage($event)">
    <option value="en" [selected]="currentLang === 'en'">{{ 'ENGLISH' | translate }}</option>
    <option value="bs" [selected]="currentLang === 'bs'">{{ 'BOSNIAN' | translate }}</option>
  </select>
</div>

<div class="All">
  <div class="login-container">
    <div class="auth-header">
      <h2>{{ "LOGINREGISTER.TITLE" | translate }}</h2>
      <p>{{ "LOGINREGISTER.MESSAGE" | translate }}</p>
    </div>

    <div class="auth-actions">
      <button class="login-button" (click)="navigateTo('login')">
        {{ "LOGINREGISTER.BUTTON" | translate }}
      </button>
      <p>
        {{ "LOGINREGISTER.PORUKA_REG" | translate }}
        <span (click)="navigateTo('register')" class="auth-link">
          {{ "LOGINREGISTER.BUTTON_REG" | translate }}
        </span>
      </p>
    </div>
  </div>
</div>
